/* *****************************

BVAmbient - VanillaJS Particle Background
Developed by: Bruno Vieira

**************************** */

.bvambient_particle
{
	position: absolute;
	pointer-events: none;
	transition: top linear, left linear;

}

h1{
    color: rgb(3, 173, 54);
    text-align: center;
	
	width: 100%;
	height: 150px;
}
